<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
    .down{
        padding-left: 55px;
    }
    </style>

    <script>
        // Start of code to extract data from view 
            var cash_on_hand_labels = [];
            {% for item in cash_on_hand_labels %}
                cash_on_hand_labels.push({{ item|safe }});
            {% endfor %}

            var cash_on_hand_values = [];
            {% for item in cash_on_hand_values %}
                cash_on_hand_values.push({{ item|safe }});
            {% endfor %}

            var expenses_and_passive_income = [];
            {% for item in expenses_and_passive_income %}
                expenses_and_passive_income.push({{ item|safe }});
            {% endfor %}

            var cash_flow_value = [];
            {% for item in cash_flow_value %}
                cash_flow_value.push({{ item|safe }});
            {% endfor %}

            var your_capital_labels = [];
            {% for item in your_capital_labels %}
                your_capital_labels.push({{ item|safe }});
            {% endfor %}

            var your_capital_values = [];
            {% for item in your_capital_values %}
                your_capital_values.push({{ item|safe }});
            {% endfor %}

        // End

            function getChart(){
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'doughnut',
        
            // The data for our dataset
            data: {
                labels: cash_on_hand_labels,
                datasets: [{
                    label: "My First dataset",
                    backgroundColor: [
                        'rgb(145, 227, 96)',
                        'rgb(34, 180, 247)'
                        ],
                    borderColor: [
                        'rgb(145, 227, 96)',
                        'rgb(34, 180, 247)'
                        ],
                    data: cash_on_hand_values,
                }]
            },
        
            // Configuration options go here
            options: {
                responsive:true,
                cutoutPercentage: 90,
                title: {
                    display:true,
                    text: 'Cash On Hand',
                    position:'top'
                },
                    legend: {
                        position:'right',
                            labels: {
                                boxWidth: 20,
                                usePointStyle: true
                        }
                    }
                }
        });
        }

            function getChart2(){
            var chartData = {
                datasets: [{

                }]
            }
            var ctx = document.getElementById('myChart2').getContext('2d');
            var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'horizontalBar',
            // The data for our dataset
            data: {
                labels: [],
                datasets: [
                    //1st data set
                    {
                    label: "Expenses",
                    data: expenses_and_passive_income,
                    backgroundColor: [
                        'rgb(245, 97, 59)',
                        'rgb(169, 245, 47)'
                        ],
                    borderColor: [
                        'rgba(245, 97, 59, 0.8)'
                        ],
                    },
                    
                    //2nd data set
                    {
                    label: "Cash Flow",
                    data: cash_flow_value,
                    backgroundColor: [
                        'rgb(245, 222, 47)',
                    ],
                    borderColor: [
                        'rgba(245, 222, 47)',
                    ],                                   
            },

                    //3rd data set
                    {
                    label: "Passive Income",
                    backgroundColor: [
                        'rgb(169, 245, 47)',
                    ],
                    borderColor: [
                        'rgb(169, 245, 47)',
                    ],                                   
                }]
            },
        
            // Configuration options go here
            options: {
                responsive:true,
                title: {
                    display:true,
                    text: 'Net Cash Flow',
                    position:'top'
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                            gridLines: {
                                display:false
                            },
                    }],
                    yAxes: [{
                        stacked: true,
                        barThickness : 30,
                            gridLines: {
                                display:false
                            }
                    }]
                }
            }
        });
        }

        function getChart3(){
            var ctx = document.getElementById('myChart3').getContext('2d');
            var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'doughnut',
        
            // The data for our dataset
            data: {
                labels: your_capital_labels,
                datasets: [{
                    label: "My First dataset",
                    backgroundColor: [
                        'rgb(72, 116, 246)',
                        'rgb(84, 31, 181)',
                        'rgb(191, 240, 42)',
                        'rgb(254, 156, 62)',
                        'rgb(238, 74, 85)'
                        ],
                    borderColor: [
                        'rgb(72, 116, 246)',
                        'rgb(84, 31, 181)',
                        'rgb(191, 240, 42)',
                        'rgb(254, 156, 62)',
                        'rgb(238, 74, 85)'
                        ],
                    data: your_capital_values,
                }]
            },
        
            // Configuration options go here
            options: {
                responsive:true,
                title: {
                    display:true,
                    text: 'Your Capital',
                    position:'top'
                },
                    legend:{
                        position:'right',
                        labels: {
                                usePointStyle: true,
                        }
                    }
                },
                centerText: {
                    display:true,
                    text:'Throw'
                }
            });
        }
        </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
            <canvas id="myChart"></canvas>
            <p class="down">hi</p>
            </div>
            <div class="col-lg-4 col-sm-12">
            <canvas id="myChart2"></canvas>
            <p class="down">hi</p>
            </div>
            <div class="col-lg-4 col-sm-12">
            <canvas id="myChart3"></canvas>
            <p class="down">hi</p>
            </div>
        </div>
    </div>

    <script>   
        getChart();
        getChart2();
        getChart3();
    </script>
</body>
</html>